<a href="https://colab.research.google.com/github/ClarisseAlvarenga/script_forms_cursos/blob/main/C%C3%B3pia_de_Script_Ajustes_Planilha_cursos_Forms_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import datetime as dt

# SCRIPT PARA CONVERSÃO DE INSCRIÇÕES NOS CURSOS DE CONSULTORIA - PRIMEIRO SEMESTRE DE 2021

In [ ]:
#baixando o arquivo,
arquivo = '/content/CAPACITAÇÃO COMEX - 1º SEMESTRE - 2021(1-523).xlsx'
cursos = pd.read_excel(arquivo)

In [ ]:
#alterando o nome das colunas
cursos.columns = ['ID', 'Início', 'Conclusão','Email1', 'Nome1','Cursos', 
                  'Nome', 'CPF', 'Empresa', 'CNPJ', 
                  'Cidade', 'UF', 'e-mail', 
                  'Telefone', 'Certificado', 'Indicação',
                  'Sugestões', 'Pagamento', 'aviso1', 'aviso2']

In [ ]:
#exclusão das colunas desnecessárias
cursos.drop(['Nome1', 'Email1','aviso1', 'aviso2'], axis=1, inplace=True)

In [ ]:
cursos.query('Nome == "Samuel da Rocha Moura"')

      ID              Início  ... Sugestões  Pagamento
336  337 2021-02-24 10:41:39  ...       NaN  Assinante

[1 rows x 16 columns]

In [ ]:
#transformando os cursos em uma lista
cursos['Cursos'] = cursos['Cursos'].str.split(';')

In [ ]:
#dividindo os cursos em linhas
cursos = cursos.explode('Cursos').reset_index(drop=True)

In [ ]:
cursos.drop(cursos.query('Cursos == "Proteção Financeira - TURMA EXTRA - 07/04/2021 (13:00h - 17:00h)"').index, inplace=True)

In [ ]:
cursos['Cursos']

0              Importação - 21/01/2021 (13:00h - 16:00h)
1
2       Práticas Cambiais - 10/02/2021 (13:00h - 16:00h)
3              Exportação - 25/02/2021 (13:00h - 16:00h)
4       Garantias Internacionais - 15/04/2021 (13:00h ...
                              ...
1620    Proteção Financeira TURMA EXTRA - 07/04/2021 (...
1621
1622    Financiamentos à Exportação - 19/05/2021 (13:0...
1623    Proteção Financeira - 23/06/2021 (13:00h - 17:...
1624
Name: Cursos, Length: 1624, dtype: object

In [ ]:
#separando o horário
cursos[['Cursos', 'Horário']] = cursos['Cursos'].str.split(' \(', expand=True)

In [ ]:
#dividindo a data do curso
cursos[['Data', 'Curso']] = cursos['Cursos'].str.split(' - ', expand=True)

In [ ]:
#reorganizando as colunas
cursos = cursos[['ID', 'Início', 'Conclusão', 'Cursos', 'Data', 'Curso', 'Horário','Nome', 'CPF', 'Empresa', 'CNPJ',
       'Cidade', 'UF', 'e-mail', 'Telefone', 'Certificado', 'Indicação',
       'Sugestões', 'Pagamento']]

In [ ]:
#excluindo uma coluna
cursos.dropna(subset=['Cursos'], inplace=True)

In [ ]:
#excluindo as linhas sem curso
cursos.dropna(subset=['Curso'], inplace=True)

In [ ]:
#criando em excel
data = dt.datetime.now()
cursos.to_excel(f'cursos_{data.day}{data.month}{data.year}.xlsx', encoding='UTF-8')